/* src/components/BottomNav/BottomNav.module.scss */
.bar {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 4px;
  //   padding: 8px 8px 8px;
}

.tab {
  appearance: none;
  border: 0;
  background: transparent;
  color: var(--color-text);

  min-height: 48px; /* touch target */
  //   border-radius: 12px;

  display: grid;
  place-items: center;

  font-size: 1.3rem;
  letter-spacing: 0.2px;
  text-transform: uppercase;

  cursor: pointer;

  &:active {
    transform: translateY(1px);
  }
}

.active {
  background: var(--color-primary);
  color: var(--color-text);
}

.label {
  padding: 0 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
