:root {
  --color-primary: #6741d9;
  --color-primary-light: #7950f2;
  --color-text: #dee2e6;
  --color-text-dark: #adb5bd;
  --color-background-100: #343a40;
  --color-background-500: #2b3035;
  --color-background-900: #212529;
  --color-red-light: #ff6b6b;
  --color-red: #fa5252;
  --color-red-dark: #e03131;
  --color-red-darker: #530606;
  --color-yellow: #fcc419;
  --color-yellow-dark: #f59f00;

  // custom theme - Golden Twilight
  --color-border: rgba(255, 255, 255, 0.12);

  --color-bg: #0b0b0c;
  --color-fg: #f2f2f2;

  --ink-black: #000814;
  --prussian-blue: #001d3d;
  --oxford-navy: #003566;
  --school-bus-yellow: #ffc300;
  --gold: #ffd60a;
}
